*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    /* background-image: url('../static/gradient.png'); */
    background-color: rgb(44, 70, 82);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
